.brand-logo img {
   height: 70px;

    margin-left: 50px;
    /* padding-left: 20px; */
    margin-top: 15px;
}

.nav-wrapper {
	/* background-image: url("https://i.pinimg.com/originals/e1/9f/c4/e19fc4f92bc65978ceac0213a1abaf65.gif"); */
    /*background-color: #008547 !important;*/
    background-color: #ab47bc;
        /* font-size: 60px; */
    font-weight: bold;
    height: 170%;
    /* font-family: 'Fredoka One', cursive; */
}

.nav-wrapper ul li a{
    font-family: 'Fredoka One', cursive;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    /* padding-top: 25px; */
    /* padding-bottom: 10px; */
}

.nav-wrapper ul li a i{
    float: left;
    padding-right: 8px;
}
    