<!-- Plantilla de navbar responsiva con materialize -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo ">
            <img src="assets/logokids.png">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="home">Home</a></li>
            <li><a href="regprofe">Registro Profesores</a></li>
            <li><a href="regalumno">Registro Alumnos</a></li> 
            <li><a href="login">Ingresar</a></li>
            <li><a href="cursosAlumno">CursosAlum</a></li>
        </ul>
      </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="home">Home</a></li>
    <li><a href="regprofe">Registro Profesores</a></li>
     <li><a href="regalumno">Registro Alumnos</a></li>
     <li><a href="login">Ingresar</a></li>
     <li><a href="cursosAlumno">CursosAlum</a></li>
</ul>