<!-- Slider -->

<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/child.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado">“El mejor legado de un padre a sus hijos es un poco de su tiempo cada día”</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">— Leon Battista Alberti.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child2.jpg"> 
        <div class="caption left-align">
          <h3 class="encabezado">“Estudia el pasado si quieres intuir el futuro”</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">— Confucio.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child3.jpg"> 
        <div class="caption right-align">
          <h3 class="encabezado">“Siempre se puede ser mejor”</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">— Tiger Woods.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child4.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado">“Cambia tus pensamientos y cambiarás tu mundo"</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">— Norman Vincent Peale.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child5.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado">“Tus talentos y habilidades irán mejorando con el tiempo, pero para eso has de empezar”</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">— Martin Luther King.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child6.webp"> 
        <div class="caption center-align">
          <h3 class="encabezado">“La verdadera educación consiste en obtener lo mejor de uno mismo”</h3>
          <h5 class="encabezado light grey-text text-lighten-3 right-align">– Mahatma Gandhi.</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- Fin del slider -->

  <div class="container">  
    <div class="row"> 
        <div class="titulo brown-text center-align hide-on-med-and-down">- ¿QUÉ ES KOKONE LEARN? – </div>
        <div class="titulo2 center-align brown-text hide-on-large-only">- ¿QUÉ ES KOKONE LEARN? –</div>
    </div>
