<!-- Slider -->

<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/child.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado" id="color1">“El mejor legado de un padre a sus hijos es un poco de su tiempo cada día”</h3>
          <h5 id="color1" class="encabezado right-align">— Leon Battista Alberti.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child2.jpg"> 
        <div class="caption left-align">
          <h3 class="encabezado" id="color2">“Estudia el pasado si quieres intuir el futuro”</h3>
          <h5 id="color2" class="encabezado  right-align">— Confucio.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child3.jpg"> 
        <div class="caption left-align">
          <h3 class="encabezado" id="color3">“Siempre se puede ser mejor”</h3>
          <h5 id="color3" class="encabezado  right-align">— Tiger Woods.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child4.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado" id="color4">“Cambia tus pensamientos y cambiarás tu mundo"</h3>
          <h5 id="color4" class="encabezado right-align">— Norman Vincent Peale.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child5.jpg"> 
        <div class="caption center-align">
          <h3 class="encabezado" id="color5">“Tus talentos y habilidades irán mejorando con el tiempo, pero para eso has de empezar”</h3>
          <h5 id="color5" class="encabezado  right-align">— Martin Luther King.</h5>
        </div>
      </li>
      <li>
        <img src="assets/child6.webp"> 
        <div class="caption center-align">
          <h3 class="encabezado" id="color6">“La verdadera educación consiste en obtener lo mejor de uno mismo”</h3>
          <h5 id="color6" class="encabezado  right-align">– Mahatma Gandhi.</h5>
        </div>
      </li>
    </ul>
  </div>

  <!-- Fin del slider -->

  <!-- <div class="container title">  
    <div class="row"> 
        <div class="titulo brown-text center-align hide-on-med-and-down">- ¿QUÉ ES KOKONE LEARN? – </div>
        <div class="titulo2 center-align brown-text hide-on-large-only">- ¿QUÉ ES KOKONE LEARN? –</div>
    </div> -->

    <div class="container separate">
        <div class="row center-align">
          <div class="col l7 m7 s12">
            <img class="responsive-img" src="assets/logokids.png" alt="">
          </div>
          <div class="col l1 m1 s12"></div>
          <div class="col l4 m4 s12"><img class="responsive-img" src="assets/kokone-saluda.gif" alt="">
          </div>
        </div>
      </div>

    <div class="parallax-container separate">
        <div class="parallax"><img src="assets/home1.jpg"></div>
        <div class="nosotros">
          <h2>Kokone Learn</h2>
          <p class="hide-on-med-and-down somos">Es una plataforma digital de aprendizaje enfocada en escuelas primarias
            que brinda la confianza y acompañamiento que el estudiante necesita durante sus horas de estudio. Y proveé a
            los profesores una herramienta para la creación de su contenido para apoyar el aprendizaje de forma dinámica 
            y divertida.

          </p>
            <div class="textch hide-on-large-only somos">Es una plataforma digital de aprendizaje enfocada en escuelas primarias
              que brinda la confianza y acompañamiento que el estudiante necesita durante sus horas de estudio. Y proveé a
              lo profesores una herramienta para la creación de su contenido para apoyar el aprendizaje de forma dinámica 
              y divertida.
            </div>
        </div>
    </div>

    <div class="container separate">
        <div class="row center-align">
          <div class="col l1 m1 s12"></div>
          <div class="col l4 m4 s12">
            <img class="responsive-img" src="assets/objetivo.png" alt="">
            <h2>Vision</h2>
            <p class="letra1">Explorar la relevancia y los beneficios de la tecnología en las activades de materias a nivel escuela primaria,
               mejorando los efectos de la enseñanza, interés y motivación de los estudiantes. </p>
          </div>
          <div class="col l2 m2 s12"></div>
          <div class="col l4 m4 s12"><img class="responsive-img"src="assets/contento.png" alt="">
            <h2>Valores</h2>
            <p class="letra1">Con las tecnologías emergentes se busca proporcianor una 
              interacción má natural con los estudiantes mediante nuestro personaje virtual llamado "Kokone". </p>
          </div>
          <div class="col l1 m1 s12"></div>
        </div>
    </div>

    <div class="row container separate">
      <h2 class="header brown-text center-align">EL MUNDO DE KOKONE LEARN</h2>
    </div>

    <div class="container grey lighten-5 z-depth-4 size">
    
      <div class="row">
        <div class="col s12">
          <ul class="tabs  center red lighten-5">
            <li class="tab col s3"><a class="black-text text-label active" href="#test1">PROFESORES</a></li>
            <li class="tab col s3"><a class="black-text text-label" href="#test2">ESTUDIANTES</a></li>
            <li class="tab col s3"><a class="black-text text-label" href="#test3">ESCUELAS</a></li>
            <li class="tab col s3"><a class="black-text text-label" href="#test4">HERRAMIENTAS</a></li>
          </ul>
        </div>
      </div>
        <!-- Contenido de Profesores -->
        <div id="test1" class="col s12">
          <div class="row left-align">
            <div class="col s12 m6 l4">
             <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/profesor1.jpg">
              </div>
              <div class="card-content center-align">
                <span class="card-title activator grey-text text-darken-4">Creación de contenido<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                  <p>El profesor tiene la facilidad de crear su propio contenido mediante diapositivas!.</p>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/profesor2.jpg">
                </div>
                <div class="card-content center-align">
                  <span class="card-title activator grey-text text-darken-4">Plataforma reponsiva<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>El profesor puede entrar desde cualquier dispositivo!</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/profesor3.jpg">
                  </div>
                  <div class="card-content center-align">
                    <span class="card-title activator grey-text text-darken-4">Preguntas Frecuentes<i class="material-icons right">more_vert</i></span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                      <p>Gracias a la tecnología de IBM podrá responder las preguntas de sus estudiantes sin estar presente.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
            <!-- FIN DE PROFESORES -->

        <div id="test2" class="col s12">
             <!-- CONTENIDO DE ESTUDIANTES -->
             <div class="row left-align">
               <div class="col s12 m6 l4">
                 <div class="card">
                   <div class="card-image waves-effect waves-block waves-light">
                     <img class="activator" src="assets/alumno1.jpg">
                   </div>
                   <div class="card-content center-align">
                     <span class="card-title activator grey-text text-darken-4">Interfaz amigable<i class="material-icons right">more_vert</i></span>
                   </div>
                   <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                       <p>Los estudiantes estudiaran a lado de nuestra mascota Kokone.</p>
                     </div>
                   </div>
                 </div>
                 <div class="col s12 m6 l4">
                   <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="assets/alumno2.jpg">
                     </div>
                     <div class="card-content center-align">
                       <span class="card-title activator grey-text text-darken-4">Área de estudio<i class="material-icons right">more_vert</i></span>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                         <p>Aquí el estudiante podrá retomar las clases publicadas por sus profesores para mejorar su aprendizaje.</p>
                       </div>
                     </div>
                   </div>
                   <div class="col s12 m6 l4">
                     <div class="card">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="assets/alumno3.jpg">
                       </div>
                       <div class="card-content center-align">
                         <span class="card-title activator grey-text text-darken-4">Progreso del curso<i class="material-icons right">more_vert</i></span>
                       </div>
                       <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                           <p>Los estudiantes pueden visualizar el progreso del curso por clase.</p>
                         </div>
                       </div>
                     </div>
             </div> 
                  <!-- FIN DE ESTUDIANTES -->
            </div>


       <div id="test3" class="col s12">
         <!-- CONTENIDO ESCUELAS -->
                  <div class="row left-align">
                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="assets/escuela1.jpg">
                        </div>
                        <div class="card-content center-align">
                          <span class="card-title activator grey-text text-darken-4">Capacitación<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Al ser una plataforma sencilla de utilizar disminuirá la inversión en capacitación de profesores</p>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m6 l4">
                        <div class="card">
                          <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/escuela2.jpg">
                          </div>
                          <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4">Creación de cursos virtuales<i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                              <p>Permitir la enseñanza a distancia en situacione que lo requieran.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l4">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="assets/escuela3.jpg">
                            </div>
                            <div class="card-content center-align">
                              <span class="card-title activator grey-text text-darken-4">Costo<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                <p>Pago único para un número ilimitado de profesores por institución educativa.</p>
                              </div>
                            </div>
                          </div>
                  </div> 
         <!-- FIN DE PADRES -->
       </div>
       <div id="test4" class="col s12">
         <!-- TAB HERRAMIENTAS -->
                  <div class="row left-align">
                    <div class="col s12 m6 l4">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="assets/herramientas1.jpg">
                        </div>
                        <div class="card-content center-align">
                          <span class="card-title activator grey-text text-darken-4">Almacenamiento<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                            <p>Con Databases for MongoDB se tiene una alta disponibiblidad y escalabilidad en los datos. </p>
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m6 l4">
                        <div class="card">
                          <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="assets/herramientas2.jpg">
                          </div>
                          <div class="card-content center-align">
                            <span class="card-title activator grey-text text-darken-4">Servicio Web<i class="material-icons right">more_vert</i></span>
                          </div>
                          <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                              <p>De IBM Cloud se utiliza un servidor nativo que soporta intensivo tráfico de datos asegurando la disponibilidad de la información.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l4">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="assets/herramientas3.jpg">
                            </div>
                            <div class="card-content center-align">
                              <span class="card-title activator grey-text text-darken-4">I.A<i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                                <p>Con IBM Watson se tendrá una interacción de comunicación entre profesor-alumno</p>
                              </div>
                            </div>
                          </div>
                  </div> 
         <!-- FIN DE HERRAMIENTAS -->
      </div>
  </div>

  <div class="parallax-container separate">
    <div class="parallax"><img src="assets/menina.jpg"></div>
  </div>
