<!-- 
<p> 
    <img src="https://media.discordapp.net/attachments/726231452408348777/735357627277508649/este_si.gif" alt="" > <br>
    {{nombre }} *
</p>
<div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  
  <div class="card border-success" style="max-width: 18rem;">
    <div class="card-header text-success">Header</div>
    <img src="https://media.discordapp.net/attachments/726231452408348777/735357627277508649/este_si.gif" class="card-img-top" alt="">
    <div class="card-footer bg-transparent border-successt">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Ver detalles</a>
    </div>
  </div>

    profesor: string;
    avance: string;
    temaact: string;
-->
    

    <div class="card-content">
      <div class="card-img">
          <img src="https://media.discordapp.net/attachments/726231452408348777/735357627277508649/este_si.gif" alt="">
          <span><h4>Clave {{cur.clave}}</h4></span>
      </div>
      <div class="card-desc" style="max-width: 18rem;">
          <h3>{{cur.nombre}}</h3>
          <p>Clave: {{cur.clave}} </p>
          <p>Profesor: {{cur.profesor}} </p>
          <p>Progreso del curso: {{cur.avance}} </p>
          <p>Tema Actual: {{cur.temaact}} </p>
          <a href="" class="btn-card" >Ir!</a>
      </div>
  </div>